.row {
    margin-bottom: 10px;
}

.row-space {
    margin-bottom: 24px;
}

.col-right-aligen {
    text-align: right;
}

.lx-custom-layout {
    display: flex;
    padding: 16px;
    margin-top: 16px;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #ffffff;
}

.lx-custom-layout-shadow {
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1)
}

.lx-custom-layout:hover {
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.lx-custom-layout.lx-custom-layout-shadow:hover {
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1)
}

/* 操作栏 */
.lx-actionbar {
    display: flex;
}

/* 操作栏子项目 */
.lx-actionbar-item {
    margin-right: 10px;
}

/* 权限包装 */
.lx-auth-wrapper {
    cursor: pointer;
}

/* 表单底部按钮 */
.lx-form-footer {
    margin-top: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #e8e8e8;
    padding: 10px 16px;
    text-align: right;
    background: #fff;
    border-radius: 4px;
    z-index: 100;
}

/* 表单 */
.lx-form {
    padding-right: 16px;
    overflow-y: auto;
    padding-bottom: 60px;
}

/* 禁用 */
.lx-disable {
    pointer-events: none;
}

/* .scroll {
    overflow-y: scroll;
} */
/*滚动条整体部分，其中的属性有width,height,background,border等（就和一个块级元素一样）（位置1）*/
/* .scroll::-webkit-scrollbar {
    width:8px;
} */
/*外层轨道，可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果（位置3）*/
/* .scroll::-webkit-scrollbar-track {
    background:rgb(236, 47, 40);
} */
/*内层轨道，滚动条中间部分（位置4）*/
/* .scroll::-webkit-scrollbar-track-piece {
    background:rgb(241, 241, 241);
} */
/*滚动条里面可以拖动的那部分（位置5）*/
/* .scroll::-webkit-scrollbar-thumb {
    background:rgb(187, 187, 187);
    border-radius:4px;
} */
/*边角（位置6）*/
/* .scroll::-webkit-scrollbar-corner {
    background:rgb(233, 76, 14); 
} */
/*定义右下角拖动块的样式（位置7）*/
/* .scroll::-webkit-scrollbar-resizer  {
    background:#FF0BEE;
} */
.cm-flex {
    display: flex;
    display: -webkit-flex;
}

.ivu-input-group {
    /*修改组件像素向下偏移1px问题*/
    top: 0px;
}